<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestAudioBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>702CD48C1D3F875E00C5B8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>702CD4A01D3F875E00C5B8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>702CD4AB1D3F875E00C5B8CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
